<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理后台登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/admin/css/me.css">

</head>
<body>
<style>
  *{
    margin: 0;
    padding: 0;
  }
  body{
    width:100%;
    height:100%;
    background: #2D3A4B;
    overflow: hidden;
  }
  #app{
    position: relative;
    width:100%;
    height: 100%;/*适配手机端*/
  }

  #loginDiv{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
  }


</style>
<div id="app">



 <div id="loginDiv" class="m-container-small m-padded-tb-massive" style="max-width: 30em !important; width: 40%">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             管理后台登录
           </div>
         </h2>
         <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
           <div class="ui  segment">
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="username" placeholder="用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="password" placeholder="密码">
               </div>
             </div>
             <button class="ui fluid large teal submit button">登   录</button>
           </div>

           <div class="ui error mini message"></div>
           <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>

         </form>

       </div>
     </div>
   </div>
 </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
  $('.ui.form').form({
    fields : {
      username : {
        identifier: 'username',
        rules: [{
          type : 'empty',
          prompt: '请输入用户名'
        }]
      },
      password : {
        identifier: 'password',
        rules: [{
          type : 'empty',
          prompt: '请输入密码'
        }]
      }
    }
  });
</script>


<script src="../../static/admin/js/jquery-1.9.1.min.js" th:src="@{/admin/js/jquery-1.9.1.min.js}"></script>
<script src="../../static/admin/js/particles.js" th:src="@{/admin/js/particles.js}"></script>
<script>
  /* particlesJS('dom-id', params);
   /* @dom-id : set the html tag id [string, optional, default value : particles-js]
   /* @params: set the params [object, optional, default values : check particles.js] */
  /* config dom id (optional) + config particles params */
  particlesJS('app', {
    particles: {
      color: '#fff',
      shape: 'circle', // "circle", "edge" or "triangle"
      opacity: 1,
      size: 4,
      size_random: true,
      nb: 150,
      line_linked: {
        enable_auto: true,
        distance: 100,
        color: '#fff',
        opacity: 10,
        width: 1,
        condensed_mode: {
          enable: false,
          rotateX: 600,
          rotateY: 600
        }
      },
      anim: {
        enable: true,
        speed: 1
      }
    },
    interactivity: {
      enable: true,
      mouse: {
        distance: 250
      },
      detect_on: 'canvas', // "canvas" or "window"
      mode: 'grab',
      line_linked: {
        opacity: .5
      },
      events: {
        onclick: {
          enable: true,
          mode: 'push', // "push" or "remove" (particles)
          nb: 4
        }
      }
    },
    /* Retina Display Support */
    retina_detect: true
  });
</script>
</body>
</html>